

.navbar {
  background: #000;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 80vw;
  margin: 0 auto;
}


/* logo  */

.navbar-logo {
  color: #fff;
  justify-self: start;
  /* padding-left: 2rem; */
  cursor: pointer;
  text-decoration: none;
  /* font-size: 2rem; */
  display: flex;
  align-items: center;
  z-index: 3;
}

.navbar-logo-name{
  font-size: 24px;
  width: 100%;

}

.logo-container:hover {
  transition: width 2s, height 2s, transform 2s;
   border-bottom: 2px solid #fff;
}

/* nav Menu */

.links-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  /* width: 75vw; */
  padding-right: 1rem;
  justify-content: end;
  border-right: 1px solid #fff;
  margin-right: 1.2rem;
}



.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  width: 100px;
  justify-content: center;
  font-size: 20px;
  transition: all 0.2s ease-out;
  height: 60px;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  border-radius: 4px;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}


/* Socila Icons Links */

.social-media {
  justify-content: center;
}

.navbar-container a{
  color: #fff;
  text-align: center;
  margin-right: 10px;
}

.navbar .social-media i{
  padding: 6px;
  height: 1rem;
  text-align: center;

}
.navbar .social-media a{
  height: 1rem;
  text-align: center;
  margin-right: 18px !important;

}

.facebook:hover{
  background-color: #1773EA;
  color: #fff;
  border: 1px solid #fff;
}

.github:hover {
  background-color: #E0E0E0;
  color: #000;
  border: 1px solid #fff;
}

.linkedin:hover {
  background-color: #fff;
  color: #1B88AE;
  border: 1px solid #fff;
}




@media screen and (max-width: 1150px) {
  .navbar {
    height: unset;
  }

  /* icon */
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 5vw;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }


  .NavbarItems {
    position: relative;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92vh;
    position: absolute;
    top: 80px;
    left: -200%;
    opacity: 1;
    transition: all 0.5s ease;
    margin: 0;
  }

  .links-container.active {
    background: #000;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .active .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-right: unset;
    margin-right: unset;
    padding-right: unset;
  }

  .active .social-media {
    display: flex;
    width: 100%; 
    height: auto;  
  }


  .active .social-media a {
    height: 3rem !important;
    width: 3rem !important;
    font-size: 1.5rem;
    margin: 0 1rem;
    padding: 0.5rem;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
    border: none;
  }

  .navbar-logo {
    position: absolute;
    top: 10px;
    left: 5vw;
}

  /* .logo-container:hover {
    position: absolute;
    top: 0;
    left: 0;
  } */

 

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }


}

@media screen and (max-width: 350px) {
  .logo-container{
    font-size: 18px;
  }
  .navbar-logo-name{
    font-size: 18px;

  }

}
