@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Ubuntu:wght@300;400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Ubuntu', sans-serif;
  }

  .primay-color{
    color:#009dff ;
  }

  .App {
    background-color: #000000;
  }
  
  .loader {
    text-align: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }